body {
	background-image: url("img/back1.jpg");
	background-size: 100%;
}
p {
	font-family:Verdana;
	text-decoration:none;
	color:white;
}
header {
	font-family: 'Slabo 27px', serif;
	font-size:18px;
	margin-top:80px;
	margin-left:120px;
	color:white;
}
.search {
	font-family: 'Slabo 27px', serif;
	font-size:27px;
	margin-top:90px;
	margin-left:120px;
}
table {
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	margin-top:60px;
	margin-left:100px;
	width:400px;
	height:400px;
	color:white;
	background:black;
	opacity: 0.8;
}